{% extends 'layout.html.twig' %}
                                {# penser a ajouter la vignette si a2 / ajouter les logo des catégorie#}
{% block main %}
<div class='new_vehicle_detail_global_container'>
    <div class='new_vehicle_detail_left_container'>
        <div class='new_vehicle_detail_card'>
            {% set logoClass = vehicle.information.brand == 'Suzuki' 
            ? 'logo-suz' 
            : (vehicle.information.brand == 'Kymco' ? 'logo-kymco' : '') 
            %}
            <div class='new_vehicle_detail_card_title_container {{ logoClass }}'>
                <h1 class='new_vehicle_detail_card_title'>{{vehicle.name}}</h1>
            </div>
            <div class='new_vehicle_detail_card_title_mobile_container'>
                <h1 class='new_vehicle_detail_card_title'>{{vehicle.name}}</h1>
            </div>
            <div class='new_vehicle_detail_card_global_container'>
                <div class='new_vehicle_detail_card_image_container'>
                    <div class='new_vehicle_detail_card_carrousel_container'>
                        <div class="new_vehicle_detail_carousel">
                            <div class="new_vehicle_detail_carousel-track">
                                {% for image in images %}
                                    <div class="new_vehicle_detail_carousel-slide" data-color="{{ image.color|lower }}">
                                        <img src="{{ asset('uploads/' ~ image.image) }}" alt="Image véhicule">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="new_vehicle_detail_carousel-btn prev">&#10094;</button>
                            <button class="new_vehicle_detail_carousel-btn next">&#10095;</button>
                        </div>
                    </div>
                    {% if vehicle.information.a2 %}
                    <div class='new_vehicle_detail_card_logo_license'>
                        <img class='new_vehicle_detail_card_logo' src='{{asset('img/logo/logo_a.png')}}' alt='logo permis A'>
                        <img class='new_vehicle_detail_card_logo' src='{{asset('img/logo/logo_a2.png')}}' alt='logo permis A2'>
                    </div>
                    {% endif %}
                    <div class='new_vehicle_detail_card_image_color'>
                        {% for name, hex in colors %}
                            <span class="new_vehicle_detail_color-dot" title="{{ name }}" style="background-color: {{ hex }};" data-color="{{ name }}"></span>
                        {% endfor %}
                    </div>
                    <div class='new_vehicle_detail_card_try_container'>
                        {% if vehicle.information.availableForTrial %}
                            <a class='new_vehicle_detail_card_try_button' href="{{ path('Contact') }}">Réserver un essai</a>
                        {% else %}
                            <a class="disabled-link">Réserver un essai</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='new_vehicle_detail_right_container'>
        <div class="new_vehicle_detail_description new_vehicle_detail_info">
            <div class='new_vehicle_detail_description_title_container'>
                <h2 class='new_vehicle_detail_description_title new_vehicle_detail_info_title'>Informations<span><img src='{{asset('img/logo/info_logo.png')}}' alt='logo information' width='30' height='30'></span></h2>
            </div>
            <p class='new_vehicle_detail_info_text'>Catégorie : <span>{{vehicle.information.category}}</span></p>
            <p class='new_vehicle_detail_info_text'>Cylindrées : <span>{{vehicle.information.cylinders}} cm3</span></p>
            <p class='new_vehicle_detail_info_text'>Temps de garantie : <span>{{vehicle.information.warrantyTime}} an(s)</span></p>
            <p class='new_vehicle_detail_info_text'>Prix : <span class='new_vehicle_detail_price'>{{vehicle.information.price}} €</span></p>
        </div>
        <div class="new_vehicle_detail_description new_vehicle_detail_transmission">
            <div class='new_vehicle_detail_description_title_container'>
                <h2 class='new_vehicle_detail_description_title new_vehicle_detail_transmission_title'>Transmission<span><img src='{{asset('img/logo/transmission_logo.png')}}' alt='logo transmission' width='30' height='30'></span></h2>
            </div>
            <p class='new_vehicle_detail_transmission_text'>Transmission final: <span>{{ vehicle.transmission.finalTransmission }}</span></p>
            <p class='new_vehicle_detail_transmission_text'>Embrayage: <span>{{ vehicle.transmission.clutch }}</span></p>
            <p class='new_vehicle_detail_transmission_text'>Commande: <span>{{ vehicle.transmission.command }}</span></p>
            <p class='new_vehicle_detail_transmission_text'>Boite de vitesse: <span>{{ vehicle.transmission.gearBox }}</span></p>
        </div>
        <div class="new_vehicle_detail_description new_vehicle_detail_dimensions">
            <div class='new_vehicle_detail_description_title_container'>
                <h2 class='new_vehicle_detail_description_title new_vehicle_detail_dimensions_title'>Dimensions<span><img src='{{asset('img/logo/dimension_logo.png')}}' alt='logo dimensions' width='30' height='30'></span></h2>
            </div>
            <p class='new_vehicle_detail_dimensions_text'>L x H x l: <span>{{ vehicle.dimension.width }} x {{ vehicle.dimension.height }} x {{ vehicle.dimension.length }} mm</span></p>
            <p class='new_vehicle_detail_dimensions_text'>Hauteur de selle: <span>{{ vehicle.dimension.saddleHeight }} mm</span></p>
            <p class='new_vehicle_detail_dimensions_text'>Garde au sol: <span>{{ vehicle.dimension.groundClearance }} mm</span></p>
            <p class='new_vehicle_detail_dimensions_text'>Réservoir d'essence: <span>{{ vehicle.dimension.gas }} L</span></p>
            <p class='new_vehicle_detail_dimensions_text'>Réservoir d'huile: <span>{{ vehicle.dimension.oil }} L</span></p>
            <p class='new_vehicle_detail_dimensions_text'>Poids total: <span>{{ vehicle.dimension.weight }} Kg</span></p>
        </div>
        <div class="new_vehicle_detail_description new_vehicle_detail_engine">
            <div class='new_vehicle_detail_description_title_container'>
                <h2 class='new_vehicle_detail_description_title new_vehicle_detail_engine_title'>Moteur<span><img src='{{asset('img/logo/engine_logo.png')}}' alt='logo engine' width='30' height='30'></span></h2>
            </div>
            <p class='new_vehicle_detail_engine_text'>Type: <span>{{ vehicle.engine.type }}</span></p>
            <p class='new_vehicle_detail_engine_text'>Cylindrées: <span>{{ vehicle.engine.cylinders }} cm3</span></p>
            <p class='new_vehicle_detail_engine_text'>Puissance annoncée: <span>{{ vehicle.engine.announcedPower }}</span></p>
            <p class='new_vehicle_detail_engine_text'>Couple annoncé: <span>{{ vehicle.engine.coupleAnnounced }}</span></p>
            <p class='new_vehicle_detail_engine_text'>Alimentation: <span>{{ vehicle.engine.powerSupply }}</span></p>
            <p class='new_vehicle_detail_engine_text'>Consommation: <span>{{ vehicle.engine.consumption }} l/100km</span></p>
            <p class='new_vehicle_detail_engine_text'>CO2 émissions: <span>{{ vehicle.engine.co2Emissions }} g/km</span></p>
        </div>
        <div class="new_vehicle_detail_description new_vehicle_detail_cyclePart">
            <div class='new_vehicle_detail_description_title_container'>
                <h2 class='new_vehicle_detail_description_title new_vehicle_detail_cyclePart_title'>Partie cycle<span><img src='{{asset('img/logo/cycle_part_logo.png')}}' alt='logo cyclePart' width='30' height='30'></span></h2>
            </div>
                <p class='new_vehicle_detail_cyclePart_text'>Angle de chasse: <span>{{ vehicle.cyclePart.casterAngle }} mm</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Chasse:<span>{{ vehicle.cyclePart.caster }} mm</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Empattement: <span>{{ vehicle.cyclePart.wheelbase }} mm</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Jante: <span>{{ vehicle.cyclePart.rim }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Cadre: <span>{{ vehicle.cyclePart.frame }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Suspension avant:<span>{{ vehicle.cyclePart.frontSuspension }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Suspension arrière: <span>{{ vehicle.cyclePart.rearSuspension }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Frein avant: <span>{{ vehicle.cyclePart.frontBrake }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Frein arrière: <span>{{ vehicle.cyclePart.rearBrake }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Roue avant: <span>{{ vehicle.cyclePart.frontWheel }}</span></p>
                <p class='new_vehicle_detail_cyclePart_text'>Roue arrière: <span>{{ vehicle.cyclePart.rearWheel }}</span></p>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Sélection des éléments du DOM
        const track = document.querySelector('.new_vehicle_detail_carousel-track');
        const allSlides = Array.from(document.querySelectorAll('.new_vehicle_detail_carousel-slide'));
        const prevBtn = document.querySelector('.new_vehicle_detail_carousel-btn.prev');
        const nextBtn = document.querySelector('.new_vehicle_detail_carousel-btn.next');
        const colorDots = document.querySelectorAll('.new_vehicle_detail_color-dot');

        // Variables d'état
        let currentColor = null;
        let visibleSlides = [...allSlides];
        let index = 0;

        // Met à jour les slides visibles en fonction de la couleur sélectionnée
        function updateVisibleSlides() {
            visibleSlides = currentColor
                ? allSlides.filter(slide => slide.dataset.color === currentColor)
                : [...allSlides];

            allSlides.forEach(slide => slide.style.display = 'none');
            visibleSlides.forEach(slide => slide.style.display = 'block');

            index = 0;
            updateCarousel();

            colorDots.forEach(dot => {
                dot.classList.toggle('active', currentColor && dot.dataset.color.toLowerCase() === currentColor);
            });
        }

        // Met à jour la position du carrousel
        function updateCarousel() {
            if (visibleSlides.length === 0) return;
            const slideWidth = visibleSlides[0].getBoundingClientRect().width;
            track.style.transform = `translateX(-${index * slideWidth}px)`;
        }

        // Écouteurs d'événements pour les boutons
        nextBtn.addEventListener('click', () => {
            if (visibleSlides.length === 0) return;
            index = (index + 1) % visibleSlides.length;
            updateCarousel();
        });

        prevBtn.addEventListener('click', () => {
            if (visibleSlides.length === 0) return;
            index = (index - 1 + visibleSlides.length) % visibleSlides.length;
            updateCarousel();
        });

        // Écouteurs d'événements pour les points de couleur
        colorDots.forEach(dot => {
            dot.addEventListener('click', () => {
                const selected = dot.dataset.color.toLowerCase();
                currentColor = (currentColor === selected) ? null : selected;
                updateVisibleSlides();
            });
        });

        // Écouteur d'événement pour le redimensionnement de la fenêtre
        window.addEventListener('resize', updateCarousel);

        // Initialisation
        updateVisibleSlides();
    });
</script>


{% endblock %}  