{% extends "layout.html.twig" %}

{% block main %}

    {% include 'components/adminNav.html.twig' %}
    
    <div class='adminActualityTitleContainer'>
        <h1 class='adminActualityTitlePage'>(admin) ACTUALITÉS</h1>
    </div>

    <div class='adminActualityAddFormContainer'>
        {{ form_start(actualityForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
            <div class='actualityAddInputContainer'>
                <p class='actualityAddInputDescription'>Image :</p>
                {{ form_widget(actualityForm.image, {'attr': {'class': 'newActualityAddInput'}}) }}
                {{ form_errors(actualityForm.image) }}
            </div>
            {{ form_widget(actualityForm.submit) }}
        {{ form_end(actualityForm) }}
    </div>

    <div class='adminActualityContainer'>
        {% for actuality in actualitys %}
            <div class="adminActuality">
                <div class='adminActualityContentContainer'>
                    {% if actuality.image %}
                        <img class='adminActualityImage' src="{{ asset('uploads/' ~ actuality.image) }}" alt="Image de l'actualité">
                    {% endif %}
                </div>
                <div class="adminActualityBottomContainer">
                    <div class="adminActualityDateContainer">
                        <p class='adminActualityDate'><em>Publié le {{ actuality.date|date('d/m/Y H:i') }}</em></p>
                    </div>
                    <div class='adminActualityDeleteButtonContainer'>
                        <a class='adminActualityDeleteButton' href="{{ path('ActualityDelete', { id: actuality.id }) }}">🗑 Supprimer</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucune actualité trouvée.</p>
        {% endfor %}
    </div>
{% endblock %}
