{% extends "layout.html.twig" %}

{% block main %}
    <div class='adminActualityTitleContainer'>
        <h1 class='adminActualityTitlePage'>(admin) ACTUALITES</h1>
        <a class='buttonAddActuality' href="{{ path('AdminActualityAdd') }}">Ajouter une nouvelle actu</a>
    </div>

    <div class='adminActualityContainer'>
        {% for actuality in actualitys %}
            <div class="adminActuality">
                <div class="adminActualityTitleContentContainer">
                    <h2 class='adminActualityTitle'>{{ actuality.title }}</h2>
                </div>
                <div class='adminActualityContentContainer'>
                    {% if actuality.image %}
                        <img src="{{ asset('uploads/' ~ actuality.image) }}" alt="{{ actuality.title }}" style="max-width: 300px;">
                    {% endif %}
                    <p class='adminActualityContent'>{{ actuality.content|raw }}</p>
                </div>
                <div class="adminActualityBottomContainer">
                    <div class="adminActualityDateContainer">
                        <p class='adminActualityDate'><em>Publié le {{ actuality.date|date('d/m/Y H:i') }}</em></p>
                    </div>
                    <div class='adminActualityDeleteButtonContainer'>
                        <a class='adminActualityDeleteButton' href="{{ path('ActualityDelete', { id: actuality.id }) }}">🗑 Supprimer</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucune actualité trouvée.</p>
        {% endfor %}
    </div>

{% endblock %}