{% extends "layout.html.twig" %}

{% block main %}
    <h1 class='adminActualityAddTitlePage'>(admin) NOUVELLE ACTU</h1>

    <div class='adminActualityAddFormContainer'>
    {{ form_start(actualityForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class='actualityAddInputContainer'>
            <p class='actualityAddInputDescription'> Titre : </p>
            {{ form_widget(actualityForm.title, {'attr': {'class': 'newActualityAddInput'}}) }}
            {{ form_errors(actualityForm.title) }}
        </div>

        <div class='actualityAddInputContainer'>
            <p class='actualityAddInputDescription'> Contenu : </p>
            {{ form_widget(actualityForm.content, {'attr': {'class': 'newActualityAddBigInput'}}) }}
            {{ form_errors(actualityForm.content) }}
        </div>

        <div class='actualityAddInputContainer'>
            <p class='actualityAddInputDescription'> Image : </p>
            {{ form_widget(actualityForm.image, {'attr': {'class': 'newActualityAddInput'}}) }}
            {{ form_errors(actualityForm.image) }}
        </div>

        {{ form_widget(actualityForm.submit) }}
    {{ form_end(actualityForm) }}
    </div>

{% endblock %}