{% extends "layout.html.twig" %}

{% block main %}
    {% include 'components/adminNav.html.twig' %}

    <div class='adminNewVehicleTitleContainer'>
        <h1 class='adminNewVehicleTitlePage'>(Admin) Véhicules Neufs</h1>
        <a class='buttonAddNewVehicle' href="{{ path('AdminNewVehicleAdd') }}">Ajouter un véhicule neuf</a>
    </div>

    <div>

        {% set categories = {
            'Trail': newVehicleTrails,
            'Sport / GT': newVehicleSports,
            'Roadster': newVehicleRoadsters,
            'Scooter': newVehicleScooters,
            'Moto 125cc': newVehicleMoto125s
        } %}

        {% for category, vehicles in categories %}
            <div class='adminNewVehicleCategory'>
                <div class='adminNewVehicleTitleCategoryContainer'>
                    <h3 class='adminNewVehicleTitleCategory'>{{ category }}</h3>
                </div>
                <div class='adminNewVehicleCategoryContainer'>
                    {% for vehicleGroup in vehicles %}
                        {% for newVehicle in vehicleGroup.newVehicles %}
                            <div class='adminNewVehicleCard'>
                                <a href='{{ path('AdminNewVehicleEdit', {id: newVehicle.id}) }}'>
                                    <div class='adminNewVehicleTitleContainer'>
                                        <p class='adminNewVehicleTitle'>{{ newVehicle.name }}</p>
                                    </div>
                                    <div class='adminNewVehicleImageContainer'>
                                        {% set images = newVehicle.newVehicleImages %}
                                        {% if images|length > 0 %}
                                            <img class='adminNewVehicleImage'
                                                 src="{{ asset('uploads/' ~ images[0].image) }}"
                                                 alt="Image du véhicule {{ newVehicle.name }}"
                                                 width="300" height="200">
                                        {% else %}
                                            <p>Pas d'image</p>
                                        {% endif %}
                                    </div>
                                </a>
                                <div class='adminNewVehicleDeleteButtonContainer'>
                                    <a class='adminNewVehicleDeleteButton'
                                       href='{{ path('AdminNewVehicleDelete', {id: newVehicle.id}) }}'>Supprimer 🗑</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}