{% extends "layout.html.twig" %}

{% block main %}

    {% include 'components/adminNav.html.twig' %}
    <h1 class='new_vehicle_add_title_page'>(admin) ÉDITION DE VÉHICULE</h1>
    <div class="new_vehicle_add_form_container">
    {{ form_start(edit_new_vehicle_form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class='new_vehicle_add_form_section_namevhl'>
            <h3 class='new_vehicle_add_form_section_title'>Nom du véhicule :</h3>
            {{ form_widget(edit_new_vehicle_form.name, {'attr': {'class': 'new_vehicle_add_input'}}) }}
            {{ form_errors(edit_new_vehicle_form.name) }}
        </div>
        <h3 class='new_vehicle_add_form_section_title'>Informations</h3>
        <div class='new_vehicle_add_form_section'>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Marque :</p>
                {{ form_widget(edit_new_vehicle_form.Information.brand, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.brand) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Modèle :</p>
                {{ form_widget(edit_new_vehicle_form.Information.model, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.model) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Cylindrée (commerciale) :</p>
                {{ form_widget(edit_new_vehicle_form.Information.cylinders, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.cylinders) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Prix :</p>
                {{ form_widget(edit_new_vehicle_form.Information.price, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.price) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Temps de garantie :</p>
                {{ form_widget(edit_new_vehicle_form.Information.warrantyTime, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.warrantyTime) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Permis :</p>
                {{ form_widget(edit_new_vehicle_form.Information.a2, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.a2) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Catégorie :</p>
                {{ form_widget(edit_new_vehicle_form.Information.category, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.category) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Disponible à l'essai :</p>
                {{ form_widget(edit_new_vehicle_form.Information.availableForTrial, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Information.availableForTrial) }}
            </div>
        </div>
        <h3 class='new_vehicle_add_form_section_title'>Moteur</h3>
        <div class='new_vehicle_add_form_section'>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Type :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.type, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.type) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Cylindrée (réelle) :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.cylinders, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.cylinders) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Puissance annoncée :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.announcedPower, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.announcedPower) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Couple annoncé :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.coupleAnnounced, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.coupleAnnounced) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Alimentation :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.powerSupply, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.powerSupply) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Consommation :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.consumption, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.consumption) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Émission de CO₂ :</p>
                {{ form_widget(edit_new_vehicle_form.Engine.co2Emissions, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Engine.co2Emissions) }}
            </div>
        </div>
        <h3 class='new_vehicle_add_form_section_title'>Transmission</h3>
        <div class='new_vehicle_add_form_section'>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Transmission finale :</p>
                {{ form_widget(edit_new_vehicle_form.Transmission.finalTransmission, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Transmission.finalTransmission) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Embrayage :</p>
                {{ form_widget(edit_new_vehicle_form.Transmission.clutch, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Transmission.clutch) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Commande :</p>
                {{ form_widget(edit_new_vehicle_form.Transmission.command, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Transmission.command) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Boîte de vitesses :</p>
                {{ form_widget(edit_new_vehicle_form.Transmission.gearbox, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Transmission.gearbox) }}
            </div>
        </div>
        <h3 class='new_vehicle_add_form_section_title'>Dimension</h3>
        <div class='new_vehicle_add_form_section'>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Longueur X Largeur X Hauteur :</p>
                <div class="dimension-fields">
                    {{ form_widget(edit_new_vehicle_form.Dimension.length, {'attr': {'class': 'new_vehicle_add_input_dimension'}}) }}
                    <span class="dimension-separator">x</span>
                    {{ form_widget(edit_new_vehicle_form.Dimension.width, {'attr': {'class': 'new_vehicle_add_input_dimension'}}) }}
                    <span class="dimension-separator">x</span>
                    {{ form_widget(edit_new_vehicle_form.Dimension.height, {'attr': {'class': 'new_vehicle_add_input_dimension'}}) }}
                </div>
                <div class="dimension-errors">
                    {{ form_errors(edit_new_vehicle_form.Dimension.length) }}
                    {{ form_errors(edit_new_vehicle_form.Dimension.width) }}
                    {{ form_errors(edit_new_vehicle_form.Dimension.height) }}
                </div>
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Hauteur de selle :</p>
                {{ form_widget(edit_new_vehicle_form.Dimension.saddleHeight, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Dimension.saddleHeight) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Garde au sol :</p>
                {{ form_widget(edit_new_vehicle_form.Dimension.groundClearance, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Dimension.groundClearance) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Carburant :</p>
                {{ form_widget(edit_new_vehicle_form.Dimension.gas, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Dimension.gas) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Huile :</p>
                {{ form_widget(edit_new_vehicle_form.Dimension.oil, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Dimension.oil) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Poids :</p>
                {{ form_widget(edit_new_vehicle_form.Dimension.weight, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.Dimension.weight) }}
            </div>
        </div>
        <h3 class='new_vehicle_add_form_section_title'>Partie-cycle</h3>
        <div class='new_vehicle_add_form_section'>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Angle de chasse :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.casterAngle, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.casterAngle) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Chasse :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.caster, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.caster) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Empattement :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.wheelbase, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.wheelbase) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Jante :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.rim, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.rim) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Cadre :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.frame, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.frame) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Suspension avant :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.frontSuspension, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.frontSuspension) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Suspension arrière :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.rearSuspension, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.rearSuspension) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Frein avant :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.frontBrake, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.frontBrake) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Frein arrière :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.rearBrake, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.rearBrake) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Roue avant :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.frontWheel, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.frontWheel) }}
            </div>
            <div class='new_vehicle_add_input_container'>
                <p class='new_vehicle_add_input_description'>Roue arrière :</p>
                {{ form_widget(edit_new_vehicle_form.CyclePart.rearWheel, {'attr': {'class': 'new_vehicle_add_input'}}) }}
                {{ form_errors(edit_new_vehicle_form.CyclePart.rearWheel) }}
            </div>
        </div>

        {{ form_widget(edit_new_vehicle_form.submit) }}
    {{ form_end(edit_new_vehicle_form) }}

    </div>
{% endblock %}
