{% extends "layout.html.twig" %}

{% block main %}
    {% include 'components/adminNav.html.twig' %}
    <h1 class='used_vehicle_add_title_page'>(admin) AJOUTER UN VÉHICULE D'OCCASION</h1>
    <div class="used_vehicle_add_form_container">
        <p>Avant de publier une image dans un formulaire, n'hésite pas à réduire son poids sur 
            <a class='iLoveImg' href="https://www.iloveimg.com/fr/compresser-image" target="_blank" rel="noopener noreferrer">
                iloveimg.com
            </a>.
        </p>
    {{ form_start(add_used_vehicle_form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class='used_vehicle_add_form_section'>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Marque :</p>
                {{ form_widget(add_used_vehicle_form.brand, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.brand) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Modèle :</p>
                {{ form_widget(add_used_vehicle_form.model, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.model) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Catégorie :</p>
                {{ form_widget(add_used_vehicle_form.category, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.category) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Cylindrée :</p>
                {{ form_widget(add_used_vehicle_form.cylinders, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.cylinders) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Prix :</p>
                {{ form_widget(add_used_vehicle_form.price, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.price) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Temps de garantie :</p>
                {{ form_widget(add_used_vehicle_form.warrantyTime, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.warrantyTime) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>description :</p>
                {{ form_widget(add_used_vehicle_form.description, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.description) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>disponible à l'éssaie :</p>
                {{ form_widget(add_used_vehicle_form.availableForTrial, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.availableForTrial) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Couleur :</p>
                {{ form_widget(add_used_vehicle_form.color, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.color) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Année d'immatriculation :</p>
                {{ form_widget(add_used_vehicle_form.year, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.year) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Kilométrages :</p>
                {{ form_widget(add_used_vehicle_form.kilometers, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.kilometers) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Crit'air :</p>
                {{ form_widget(add_used_vehicle_form.energyTax, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.energyTax) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Puissance fiscale :</p>
                {{ form_widget(add_used_vehicle_form.taxPower, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.taxPower) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Energie :</p>
                {{ form_widget(add_used_vehicle_form.power, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.power) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>Statue :</p>
                {{ form_widget(add_used_vehicle_form.statue, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.statue) }}
            </div>
            <div class='used_vehicle_add_input_container'>
                <p class='used_vehicle_add_input_description'>A2 :</p>
                {{ form_widget(add_used_vehicle_form.a2, {'attr': {'class': 'used_vehicle_add_input'}}) }}
                {{ form_errors(add_used_vehicle_form.a2) }}
            </div>
        </div>

        <div id="vehicle_images" data-prototype="{{ form_widget(add_used_vehicle_form.usedVehicleImages.vars.prototype)|e('html_attr') }}">
            {% for add_used_vehicle_imageForm in add_used_vehicle_form.usedVehicleImages %}
                <div class="image-entry">
                    {{ form_widget(add_used_vehicle_form.add_used_vehicle_imageForm.image, {'label': false}) }}
                    {{ form_errors(add_used_vehicle_form.add_used_vehicle_imageForm.image) }}
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add_used_vehicle_image">Ajouter une image</button>

        {{ form_row(add_used_vehicle_form.submit) }}
    {{ form_end(add_used_vehicle_form) }}
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const container = document.querySelector('#vehicle_images');
        const addButton = document.querySelector('#add_used_vehicle_image');
        let index = container.querySelectorAll('.image-entry').length;

        addButton.addEventListener('click', function () {
            const prototype = container.dataset.prototype;
            const newForm = prototype.replace(/__name__/g, index);
            const div = document.createElement('div');
            div.classList.add('image-entry');
            div.innerHTML = newForm;

            container.appendChild(div);
            index++;
        });
    });
</script>
{% endblock %}