{% extends "layout.html.twig" %}

{% block main %}

    {% include 'components/adminNav.html.twig' %}
    <div class='adminUsedVehicleTitleContainer'>
        <h1 class='adminUsedVehicleTitlePage'>(admin) VÉHICULES D'OCCASION</h1>
        <a class='buttonAddUsedVehicle' href="{{ path('AdminUsedVehicleAdd') }}">Ajouter un véhicule d'occasion</a>
    </div>

    <div class='adminUsedVehicleContainer'>
        {% for usedVehicle in usedVehicles %}
        {% if usedVehicle.selled == 0 %}
        <div class='adminUsedVehicleCard {{ usedVehicle.statue == 0 ? "inactive" : "" }}'>
            <a href='{{ path('AdminUsedVehicleEdit', {id: usedVehicle.id}) }}'>
                <div class='adminUsedVehicleTitleContainer'>
                    <p class='adminUsedVehicleTitle'>{{ usedVehicle.brand }} {{ usedVehicle.model }}</p>
                </div>
                <div class='adminUsedVehicleImageContainer'>
                    {% set images = usedVehicle.usedVehicleImages %}
                        {% if images|length > 0 %}
                            <img class='adminUsedVehicleImage'
                                src="{{ asset('uploads/' ~ images[0].image) }}"
                                alt="Image du véhicule {{ usedVehicle.brand }} {{ usedVehicle.model }}"
                                width="300" height="200">
                        {% else %}
                            <p>Pas d'image</p>
                        {% endif %}
                </div>
                <div class='adminUsedVehicleDeleteButtonContainer'>
                     <a class='adminUsedVehicleDeleteButton' href='{{path('AdminUsedVehicleDelete', {id: usedVehicle.id})}}'>🗑</a>
                     <a class='adminUsedVehicleSellButton' href='{{path('used_vehicle_sell', {id: usedVehicle.id})}}'>$</a>
                     {% if usedVehicle.statue == 1 %}
                     <a class='adminUsedVehicleVisibilityOffButton' href='{{path('used_vehicle_hide', {id: usedVehicle.id})}}'>
                         <img class='adminUsedVehicleEditButtonImage' src="{{ asset('img/logo/eye_close.png') }}" alt="logo pour masquer la visibilité du véhicule">
                     </a>
                     {% else %}
                     <a class='adminUsedVehicleVisibilityOnButton' href='{{path('used_vehicle_show', {id: usedVehicle.id})}}'>
                         <img class='adminUsedVehicleEditButtonImage' src="{{ asset('img/logo/eye_open.png') }}" alt="logo pour afficher la visibilité du véhicule">
                     </a>
                     {% endif %}
                </div>
            </a>
        </div>
        {% endif %}
        {% else %}
            <p>Aucun véhicule d'occasion</p>
        {% endfor %}
    </div>
    <div class='adminUsedVehicleFooterContainer'>
        <a class='buttonAddUsedVehicle' href="{{ path('used_vehicle_sold_list') }}">Voir les véhicules vendus</a>
    </div>
{% endblock %}
