<div class='info-banner'>
    <p class='info-banner-text'>
        Tél. : 01.42.59.67.55 — Ouverture : mardi à vendredi, 9h00-12h45 // 14h00-18h30 et samedi, 9h00-12h45 // 14h00-17h15
    </p>
    <ul class='info-banner-social'>
        <li><a class="logo-link logo-instagram" href="https://www.instagram.com/motochampionparis/"><img src="{{ asset('img/logo/insta.png') }}" alt="Logo Instagram"></a></li>
        <li><a class="logo-link logo-facebook" href='https://www.facebook.com/concessionnaire.moto.champion/'><img src="{{ asset('img/logo/facebook.png') }}" alt="Logo Facebook"></a></li>
        <li><a class="logo-link logo-tiktok" href='https://www.tiktok.com/@motochampionparis?lang=fr'><img src="{{ asset('img/logo/tiktok.png') }}" alt="Logo TikTok"></a></li>
    </ul>
</div>
<div id="navbar-placeholder"></div>
<div class='main-banner'>
    <a href="{{ path('Home') }}">
        <img src="{{ asset('img/logo/header.svg') }}" alt="Bannière de l'application">
    </a>
</div>
<div class='navbar'>
    <div class='navbar-logo-container'>
        <div class='navbar-logo'>
            <a href="{{ path('Home') }}">
                <img src="{{ asset('img/logo/logo_mc.png') }}" alt="Logo de l'application" width="80" height="80">
            </a>
        </div>
        <div class="burger-menu" id="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class='navbar-search'>
        <ul class='navbar-list' id="navbar-list">
            <li class='mb10'>
                <a class="navbar-link {% if app.request.get('_route') == 'NewVehicle' %}active{% endif %}" href="{{ path('NewVehicle') }}">Neuf</a>
            </li>
            <li class='mb10'>
                <a class="navbar-link {% if app.request.get('_route') == 'UsedVehicle' %}active{% endif %}" href="{{ path('UsedVehicle') }}">Occasion</a>
            </li>
            <li class='mb10'>
                <a class="navbar-link {% if app.request.get('_route') == 'Workshop' %}active{% endif %}">Tarif atelier</a>
            </li>
            <li class='mb10'>
                <a class="navbar-link {% if app.request.get('_route') == 'AboutUs' %}active{% endif %}">Qui sommes-nous ?</a>
            </li>
            <li class='mb10'>
                <a class="navbar-link {% if app.request.get('_route') == 'Contact' %}active{% endif %}" href="{{ path('Contact') }}">Contact</a>
            </li>
        </ul>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const navbar = document.querySelector('.navbar');
    const navbarPlaceholder = document.getElementById('navbar-placeholder');
    const stickyOffset = navbar.offsetTop;
    const navbarHeight = navbar.offsetHeight;

    window.addEventListener('scroll', () => {
        if (window.scrollY >= stickyOffset) {
            navbar.classList.add('sticky');
            navbarPlaceholder.style.height = navbarHeight + 'px';
        } else {
            navbar.classList.remove('sticky');
            navbarPlaceholder.style.height = '0px';
        }
    });

    // Menu burger
    const burger = document.getElementById('burger-menu');
    const navList = document.getElementById('navbar-list');

    burger.addEventListener('click', () => {
        navList.classList.toggle('show');
        burger.classList.toggle('open');
    });
});
</script>
