<div class='info-banner'>
    <p class='info-banner-text'>Tel: 01.42.59.67.55  Ouverture: Mardi => Vendredi: 9h00-12h45 // 14h00-18h30 ET Samedi: 9h00-12h45 // 14h00-17h15</p>
    <ul class='info-banner-social'>
        <li><a class="logo-link logo-instagram" href="https://www.instagram.com/motochampionparis/"><img src="{{ asset('img/logo/insta.png') }}" alt="Logo Instagram"></a></li>
        <li><a class="logo-link logo-facebook" href='https://www.facebook.com/concessionnaire.moto.champion/'><img src="{{ asset('img/logo/facebook.png') }}" alt="Logo Facebook"></a></li>
        <li><a class="logo-link logo-tiktok" href='https://www.tiktok.com/@motochampionparis?lang=fr'><img src="{{ asset('img/logo/tiktok.png') }}" alt="Logo TikTok"></a></li>
    </ul>
</div>
<div class='main-banner'>
    <a href="{{ path('Home') }}">
        <img src="{{ asset('img/logo/header.svg') }}" alt="bannière de l'application">
    </a>
</div>
    <ul class='navbar-list'>
        <li><a class="navbar-link">Actus</a></li>
        <li><a class="navbar-link" href='{{ path('NewVehicle') }}'>Neuf</a></li>
        <li><a class="navbar-link" href='{{ path('UsedVehicle')}}'>Occasion</a></li>
        <li><a class="navbar-link">Tarif atelier</a></li>
        <li><a class="navbar-link">Qui sommes nous ?</a></li>
        <li><a class="navbar-link">Contact</a></li>
        <li class="navbar-link"><input type="text" placeholder="Rechercher"></li>
    </ul>
